---
---
html {
	background-color: #fff;
	color: #464646;
}
body{
}
.header {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	text-align: center;
	padding-bottom: .5em;
	font-size: 2em;
}
.header a {
	text-decoration: none;
	color: inherit;
}
.Quote {
	font-size: 2.5em;
	margin: auto;
	width: 80%;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
	font-family: "Helvetica";
}
.Quote a {
	text-decoration: none;
	color: inherit;
	word-spacing:-2px;
	hyphens: auto;
}
.Quote h3 {
	font-size: .5em;
}
.Quote a:hover {
	background-color: #f1f1f1;
}
@media (max-width: 600px) {
	.Quote {
		font-size: 1.5em;
		margin: auto;
		width: 90%;
    	text-align: justify;
    	-moz-text-align-last: center;
    	text-align-last: center;
		font-family: "Helvetica";
	}
	.Quote a {
		text-decoration: none;
		color: inherit;
		word-spacing:-2px;
		hyphens: auto;
	}
	.Quote h3 {
		font-size: .5em;
	}
}
@media (max-width: 400px) {
	.Quote {
		font-size: 1.5em;
		margin: auto;
		width: 90%;
    	text-align: justify;
    	-moz-text-align-last: center;
    	text-align-last: center;
		font-family: "Helvetica";
	}
	.Quote a {
		text-decoration: none;
		color: inherit;
		word-spacing:-2px;
		hyphens: auto;
	}
	.Quote h3 {
		font-size: .5em;
	}
}